.second-body{
    padding: 3vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.second-body p{
    font-weight: 500;
    font-size: 3vw;
}

.row-container{
    display: flex;
    flex-direction: row;
    gap: 15vw;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vw;
}
.icon-container{
    width: 5vw;
}
.text-container{
    text-align: center;
}
.text-container p{
    font-weight: 400;
    font-size: 1.5vw;
    margin: 0;
}

@media (max-width: 767px){
    .second-body{
        gap: 1em;
    }
    .row-container{
        gap: 25vw;
    }
    .card{
        width: 12.5vw;
    }
    .icon-container{
        width: 6vw;
    }
    .text-container{
        text-align: center;
    }
    .text-container p{
        font-weight: 400;
        font-size: 2vw;
        margin: 0;
    }
}