/* Footer.css */

.footer {
    background-color: #f9f9f9;
    padding: 40px 20px;
  }
  
  .footer-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .footer-logo {
    max-width: 40vw;
    margin: 1vw 0;
  }
  
  .footer-logo img {
    width: 100px; /* Adjust according to your logo size */
    margin-bottom: 20px;
  }
  
  .footer-logo p {
    font-size: 1.8vw;
    line-height: 1.6;
    color: #333;
    width: 80%;
    padding-left: 2vw;
  }
  .footer-logo svg{
    width: 7vw;
    height: 7vw;
  }
  
  .footer-links, .footer-contact {
    flex: 1;
  }
  
  .footer-links h4, .footer-contact h4 {
    font-size: 1.8vw;
    margin: 4vw 0;
    color: #333;
  }
  
  .footer-links ul {
    list-style-type: none;
    padding: 0;
    flex-direction: column;
    gap: 1vw;
  }
  
  .footer-links ul li {
    margin-bottom: 8px;
    font-size: 1.8vw;
    color: #555;
  }
  
  .footer-contact p {
    font-size: 1.8vw;
    margin-bottom: 8px;
    color: #555;
  }
  
  .social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2vw;
    width: 20%;
  }

  .social-media a {
    margin-right: 10px;
    font-size: 1.8vw;
    color: #555;
  }
  
  .footer-bottom {
    text-align: center;
    display: flex;
    gap: 2vw;
  }
  
  .footer-bottom a {
    font-size: 1.8vw;
    color: #555;
    text-decoration: none;
  }

  @media (max-width: 767px){
    .footer{
      padding: 2vw 0 6vw 0;
    }
    .hidden{
      display: none;
    }
    .mobile-direction{
      flex-direction: column;
    }
    .footer-section{
      align-items: center;
    }
    .social-media{
      width: 100%;
      justify-content: center;
      gap: 1vw;
    }
    .footer-contact{
      text-align: center;
    }
    .footer-contact span{
      display: none;
    }
  }
  