  .upper-header{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .logo{
    margin: 37px;
  }
  
  .upper-header ul li{
    margin: 0 5vw 0 0;
    font-size: 1.5vw;
  }

  .spacer{
    flex: 1 1 auto;
  }
  
  .nav-menu-btn{
    display: none;
  }
  
  @media (max-width: 767px){
    .upper-header ul{
      display: none;
    }
    .logo{
      margin: 37px 37px 37px 23px;
    }
    .nav-menu-btn{
      display: flex;
      margin: 37px;
    }
  }